<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudySphere</title>
    <link rel="stylesheet" href="css/landing.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
  </head>
  <body>
    <div id="nav" class="nav">
      <div class="logo">
        <img src="/images/logo.png" alt="logo">
        <h1>StudySphere</h1>
      </div>
      <div class="options">
        <ul class="list">
          <li><a href="#page2">About us</a></li>
          <li><a href="#page4">Contact us</a></li>
          <li><a href="/dashboard">Profile</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
    <div id="page1" class="page1">
      <div id="main-landing">
        <div class="text">
          <div class="main-text">
            <h1>
              <span id="spantag">Building</span> Bridges <br />Breaking Barriers 
              <br />
            </h1>
            <p>
              Step into StudySphere, where the possibilities for learning are endless.<br>
              Our platform combines cutting-edge technology with a vibrant online <br>
              community to create an immersive environment for studying and collaboration.<br> Join us as we embark on a journey to reshape the future of education together.
            </p>
            <button class="btn">Get Started</button>
          </div>
        </div>
        <div class="img">
          <img
            src="https://cdn.pixabay.com/photo/2020/09/15/06/59/laptop-5572873_640.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div id="page2">
      <div id="main-landing">
        <div class="img">
          <img
            src="https://cdn.pixabay.com/photo/2017/05/09/13/33/laptop-2298286_640.png"
            alt=""
            style="height: auto; max-width: 100%"
          />
        </div>
        <div class="text">
          <div class="main-text">
            <h1>
              Igniting Minds<br>
              Connecting Futures
            </h1>
            <p>
              Welcome to StudySphere, where learning knows no bounds.<br>
              Our platform is designed to empower students worldwide with<br>
              innovative tools for collaborative studying, dynamic discussions,<br>
              and seamless connections. Whether you're a student, educator,<br>
              or lifelong learner, StudySphere is your partner in academic excellence.
            </p>
            <button class="btn">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <div id="page3">
      <div id="main-landing">
        <div class="text">
          <div class="main-text">
            <h1>
              Master Your Study<br />
              sessions
            </h1>
            <p>
              Seize control of your valuable study time with StudySphere.<br>
              Whether you're assembling your dream study group or outsourcing<br>
              tasks for a project, this platform has you covered. Thousands of <br>
              freelancers and professionals are ready to collaborate with you.<br>
              From searching for partners to sharing project briefs, chatting, and<br>
              managing invoices, StudySphere provides all the essential tools<br>
              you need in one convenient place.
            </p>
          </div>
        </div>
        <div class="img">
          <img src="images/images__7_.jpeg-removebg-preview.png" alt="" />
        </div>
      </div>
    </div>
    <div class="line">
      <div class="line-drawer orange-line"></div>
      <div class="line-drawer blue-line"></div>
      <div class="line-drawer yellow-line"></div>
    </div>
    <div id="page4" class="page4">
      <div class="text">
        <h1>Need Help?</h1>
        <h5>No worries . Our team is here to help you right away</h5>
      </div>
      <div class="input-text">
        <form name="responses" id="forms" action="/contact" method="post">
          <input id="helpName" type="text" placeholder="Your Name" name="name" autocomplete="off" required/>
          <input id="helpEmail" type="email" placeholder="Your Email" name="email" autocomplete="off" required />
          <input
            type="textarea"
            id="helpMessage"
            placeholder="How can we help you?"
            name="Query"
            autocomplete="off"
            required
          />
          <input type="submit" value="Send" />
        </form>
      </div>    
    </div>
    <footer class="footer">
      <div class="footer-content">
          <div class="footer-part1">
              <h2>Create Your Profile Today</h2>
              <p>Unlock a world of opportunities by creating your profile on StudySphere.</p>
              <button class="footer-btn btn">Get Started</button>
          </div>
          <div class="footer-part2">
              <h3>Quick Links</h3>
              <ul class="footer-links">
                  <li><a href="#page1">Home</a></li>
                  <li><a href="#page2">About</a></li>
                  <li><a href="#page3">Product</a></li>
              </ul>
          </div>
      </div>
      <div class="footer-bottom">
          <p>&copy; 2024 StudySphere. All rights reserved.</p>
      </div>
  </footer>
    <script src="/js/landing.js"></script>
  </body>
</html>