<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries</title>
</head>
<body>
<div class="contact-container">
    <h2>User Queries</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <% details.forEach(query => { %>
                <tr>
                    <td><%= query.name %></td>
                    <td><%= query.email %></td>
                    <td><%= query.message %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>