<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify OTP</title>
    <link rel="Stylesheet" href="/css/verifyOTP.css" />
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1>Verify OTP</h1>
      </div>
      <% if (message) { %>
      <p id="error"><%= message %></p>
      <% } %>
      <form action="/verify-otp" method="post">
        <div class="input">
          <label for="enteredOTP">Enter OTP:</label>
          <input type="text" id="enteredOTP" name="enteredOTP" required autocomplete="off"/>
        </div>
        <div class="button">
          <button type="submit">Verify</button>
        </div>
      </form>
    </div>
  </body>
</html>